* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  margin: 15px 10px;
  padding-top: 25px;
  background-color: rgba(17, 17, 17, 0.8);
}

.modules-left {
  margin: 15px 10px;
}

.modules-center {
  margin: 15px 10px;
}

.modules-right {
  margin: 15px 10px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin: 0;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  margin: 0 8px;
  padding: 0;
  font-size: 14px;
}

#network {
  margin-left: 16px;
}

#battery {
  margin-left: 12px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin: 0;
  font-weight: 600;
}

.hidden {
  opacity: 0;
}
